<h2>My Todo</h2>
  <div>
    <form [formGroup] = "form">
      <label for="new-title">Title: </label>
      <input class="todo-input" type="text" id="new-title" #todoTitle formControlName="title"/>
      <label for="new-about">About: </label>
      <input class="todo-input" id="new-about" #todoAbout formControlName="about"/>
      <label for="new-about">Tasks: </label>
      <input class="todo-input" id="new-about" #todoFirstTask formControlName="firstTask"/>
      <div [formGroup] = "form2">
        <ul formArrayName = "tasks">
          <li *ngFor="let item of task.controls; let i = index" class="task">
            <input class="todo-input" type="text" formControlName="{{i}}">
          </li>
        </ul>
      </div>
      <button 
      class="add-button" 
      (click)="add(todoTitle.value, todoAbout.value, todoFirstTask.value);" 
      type="submit"
      [disabled]="form.invalid">
        Add todo
      </button>
      <button (click)="addTask()" class="add-button" >Add Task</button>
    </form>
  </div>